/* Wird aus der .less Datei generiert*/
body {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-size: 20px;
}
.spawn {
  animation: expand 200ms ease-in-out;
}
@keyframes expand {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
#board {
  width: 500px;
  height: 500px;
  position: relative;
}
#board div {
  border: 1px solid black;
  position: absolute;
  text-align: center;
  font-size: 48px;
  color: white;
}
#restartButton {
  visibility: hidden;
}
.number2 {
  background-color: #ff0000;
  text-shadow: 1px 1px 1px black;
}
.number4 {
  background-color: #FF33CC;
  text-shadow: 1px 1px 1px black;
}
.number8 {
  background-color: #ff8000;
  text-shadow: 1px 1px 1px black;
}
.number16 {
  background-color: #ffbf00;
  text-shadow: 1px 1px 1px black;
}
.number32 {
  background-color: #ffff00;
  text-shadow: 1px 1px 1px black;
}
.number64 {
  background-color: #bfff00;
  text-shadow: 1px 1px 1px black;
}
.number128 {
  background-color: #00ff80;
  text-shadow: 1px 1px 1px black;
}
.number256 {
  background-color: #00ffff;
  text-shadow: 1px 1px 1px black;
}
.number512 {
  background-color: #0080ff;
  text-shadow: 1px 1px 1px black;
}
.number1024 {
  background-color: #0000ff;
  text-shadow: 1px 1px 1px black;
}
.number2048 {
  background-color: #8000ff;
  text-shadow: 1px 1px 1px black;
}
