td{
    border: 1px solid black;
    text-align: center;
    width: 50px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:white;
}

td.td0{
     background-color: white;
}

td.td2{
    background-color: #ff0000;
    text-shadow: 1px 1px black;
}

td.td4 {
    background-color: #ff4444;
    text-shadow: 1px 1px black;
}

td.td8 {
    background-color: #ff8000;
    text-shadow: 1px 1px black;
}

td.td16 {
    background-color: #ffbf00;
    text-shadow: 1px 1px black;
}

td.td32 {
    background-color: #ffff00;
    text-shadow: 1px 1px black;
}

td.td64 {
    background-color: #bfff00;
    text-shadow: 1px 1px black;
}

td.td128 {
    background-color: #00ff80;
    text-shadow: 1px 1px black;
}

td.td256 {
    background-color: #00ffff;
    text-shadow: 1px 1px black;
}

td.td512 {
    background-color: #0080ff;
    text-shadow: 1px 1px black;
}

td.td1024 {
    background-color: #0000ff;
    text-shadow: 1px 1px black;
}

td.td2048 {
    background-color: #8000ff;
    text-shadow: 1px 1px black;
}

